@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family:'Montserrat', sans-serif;
  background: #ffffff;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --primaryColor: #0d263b;
  --secondaryColor: #696969;

  /* backgroundColors */
  --backgroundPrimary: #0061df;

  /* width */
  --width: 1440px;

  /* padding */
  --padding: 0 130px;
}

.title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  letter-spacing: -0.02em;
  color: #0d263b;
}

.subTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  /* letter-spacing: -0.02em; */
  color: #0d263b;
}

.description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #696969;
}

.center {
  display: flex;
  justify-content: center;
}

.nocopy {
  -webkit-touch-callout: none; /* IOS safary*/
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}